<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDbCfF0KHYrvAZDcsRE2H_epC8xSmDIoM</string>
	<key>GCM_SENDER_ID</key>
	<string>287590359315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idcardAutomation</string>
	<key>PROJECT_ID</key>
	<string>idcard-30721</string>
	<key>STORAGE_BUCKET</key>
	<string>idcard-30721.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287590359315:ios:35039429d33eb5d283bae6</string>
</dict>
</plist>